body {background-color: rgb(41, 63, 41);}

h1 {text-align: center;
color: white;
margin-top: 3%;
font-family: 'Indie Flower', cursive;
font-size: 40px;}

.vid   {display: flex;
justify-content: center;
margin-top: 3%;}

footer {color:white;
text-align: center;
font-family: 'Indie Flower', cursive;
font-size: 25px;}